<app-header></app-header>
<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h2>Blog</h2>

      <ul>
        <li><a href="index.html">Home</a></li>
        <li>Blog</li>
      </ul>
    </div>
  </div>
</div>
<!-- End Page Title Area -->
<section>
  <div>
    <button (click)="showPostForm()">Click me</button>
    <div *ngIf="showForm"><app-post-form></app-post-form></div>
  </div>
</section>

<!-- Start Blog Area -->
<section class="blog-area ptb-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let post of posts">
        <div class="single-blog-post">
          <div class="post-image">
            <a [routerLink]="['/single-blog', post.idPost]"
              ><img [src]="post.imageUrl" alt="image"
            /></a>

            <div class="date">{{ post.createdAt | date }}</div>
          </div>

          <div class="post-content">
            <span
              >By: <a [routerLink]="['/single-blog', post.idPost]"></a
            ></span>
            <h3>
              <a href="#">{{ post.namePost }}</a>
            </h3>
            <p>{{ post.contentPost }}</p>
            <a
              [routerLink]="['/single-blog', post.idPost]"
              class="learn-more-btn"
              >Learn More <i class="flaticon-arrow-pointing-to-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
